services:
  lightq-service:
    build:
      context: .
    ports:
      - "127.0.0.1:8081:8080"
    environment:
      - MONGO_URI=mongodb://admin:supersecret@host.docker.internal:27017/?authSource=admin
      - SPRING_DATA_REDIS_HOST=host.docker.internal
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_PASSWORD=supersecret
      - JAVA_TOOL_OPTIONS=-XX:InitialRAMPercentage=50 -XX:MaxRAMPercentage=75 -XX:+UseG1GC
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
